{% extends 'base.html' %}
{% load static %}
{% block title %}Products | {% endblock %}

{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/first_slide.jpeg' %}" class="d-block w-100" alt="shop">
        </div>
    <div class="carousel-item">
        <img src="{% static 'images/second_slide.jpeg' %}" class="d-block w-100" alt="shop">
    </div>
    <div class="carousel-item">
        <img src="{% static 'images/photo.jpeg' %}" class="d-block w-100" alt="shop">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    <div class="container">
        <div class="card mb-3">
            <img src="{% static 'images/coming-soon5.png' %}" class="card-img-top" alt="coming_soon">
        <div class="card-body">
            <h5 class="card-title">Please stay tuned</h5>
            <p class="card-text">Stay tuned for some cool products of Tanze shop</p>
            <p class="card-text"><small class="text-muted">Register now</small></p>
        </div>
    </div>

<p style="text-align: center">Take a look what we offer</p>
    <div class="row">
        {% for product in products %}
            <div class="col col-4"><br/>
            <div class="card" style="width: 20rem;">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name}}e</h5>
                {% if product.description %}
                    <p class="card-text">{{ product.description }}</p>
                {% endif %}
                    <a href="#" class="btn btn-primary">{{ product.price}}</a>
                </div>
            </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}
